body {
  margin:0;
  background-color: #14375a;

}
#topBlackBar {
  border-top: 35px solid #14375a;

}
h1 {
  color: black;
  margin:0;
  background-color: #14375a;
  border-bottom: 25px solid #14375a;

}






#talk {
text-align: center;
font-size: 40px;
margin:0;
}